.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 0;
  top: 75px;
  padding-bottom: 15rem;
}

main h1 {
  color: #28282B;
  align-self: flex-end;
  margin-right: 2rem;
  font-weight: 300;
  font-size: 2.25rem;
}

.songs-list {
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}