.song-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  width: 350px;
  margin: 0 2rem;
  padding: 0 1rem;
}

.song-card h2,
.song-card h3 {
  margin: 0;
  font-weight: inherit;
}

.options {
  cursor: pointer;
}