.song-card {
  border-bottom: 1px solid #d2d2d2;
  width: 100%;
  padding: 1rem 0;
}

.song-card td {
  padding: .5rem 0;
}

.song-card:first-of-type {
  border-top: 1px solid #d2d2d2;
}

.song-card:hover,
.song-card:nth-of-type(even):hover {
  background-color: aliceblue;
}

.song-info {
  display: flex;
  align-items: center;
  gap: .5rem;
  margin-left: 1rem;
}

.song-card .song-title {
  margin: 0;
  font-size: 1rem;
  color: #28282B;
}

.song-card .song-artist,
.song-card .song-album {
  color: #5e5e5e;
  margin: 0;
  font-weight: inherit;
  font-size: .85rem;
}

.options {
  cursor: pointer;
  color: darkgrey;
}

.options:hover {
  color: #5e5e5e;
}

.song-card:nth-of-type(even) {
  background-color: #f1f1f1;
}

.icon-container .favorite-button {
  margin-right: 1rem;
}

.song-artwork img {
  height: 50px;
  position: relative;
}

.song-card .play-button {
  background: none;
  border: none;
  position: absolute;
  z-index: 2;
  height: 50px;
  cursor: pointer;
}

.song-card .play-button:hover svg {
  color: orange;
}

.song-card .play-button:active {
  box-shadow: inset 0px 1px 10px 0px rgba(0,0,0,.2);
}

.song-card .play-button svg {
  color: rgba(255, 255, 255, .9);
}


@media only screen and (min-width: 480px) {
  .song-info {
    gap: 1rem;
  }

  .song-card .song-title {
    font-size: 1.5rem
  }

  .song-card .song-artist,
  .song-card .song-album {
    font-size: 1rem
  }
};