.songs-list {
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}

main h1 {
  color: #28282B;
  align-self: flex-end;
  margin-right: 2rem;
  font-weight: 300;
  font-size: 2.25rem;
}