.songs-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

main h1 {
  color: #28282B;
  align-self: flex-end;
  margin-right: 2rem;
  font-weight: 300;
  font-size: 2.25rem;
}